/* LT Stands For Light Theme */

body {
          background-color: white;
      }
        /* Header 1 */
        h1 {
          color: black;
          text-align: center;
      }
        /* Paragraphs */
        p {
          font-family: verdana;
          font-size: 20px;
          color: black;
      }
        /* Unvisited Links */
        a:link {
          color: black;
      }
        /* Visited Links */
        a:visited {
          color: black;
      }
        /* Mice On Links */
        a:hover {
          color: black;
      }
        /* Selected Links */
        a:active {
          color: black;
      }
